<html xmlns:th="http:/www.thymeleaf.org" lang="en">

<th:block th:fragment="nav-bar">
  <!-- Preloader -->
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!-- End Preloader -->
  <div class="tm-top-header">
    <div class="container">
      <div class="row">
        <div class="tm-top-header-inner">
          <div class="tm-logo-container">
            <img src="/assets/img/logo.png" alt="Logo" class="tm-site-logo">
            <h1 class="tm-site-name tm-handwriting-font">Cafe Demo</h1>
          </div>
          <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
          </div>
          <nav class="tm-nav">
            <ul>
              <li><a href="http://localhost:8080/home" class="active">Home</a></li>
              <li><a href="#" >Today Special</a></li>
              <li><a href="http://localhost:8080/menu" >Menu</a></li>
              <li><a href="#" >Sell</a></li>
              <li><a href="#" >Manager</a></li>
              <li><a href="#" >User</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</th:block>